<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Google Style Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main_style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='logo/favicon.ico') }}" type="image/x-icon" />
</head>
<body>
    <div class="container">
        <form id="searchForm" onsubmit=goToProductPage(event)>
            <img src="{{ url_for('static', filename='logo/logo.png') }}" alt="Logo" class="logo">
            <input type="text" id="productInput" name="q" class="search-box"  placeholder="제품명/제품번호 입력">
            <ul id="searchResults" class="search-results"></ul>
            <div class="buttons">
                <button type="submit">상품검색</button>
                <button type="button" onclick="resetNotice()">공지 사항보기</button>
            </div>
        </form>
    </div>

    <div class="popup-overlay" id="noticePopup" style="display: none;">
        <div class="popup">
            <h2>📢 공지사항</h2>
            <p id="noticeContent">공지사항을 불러오는 중...</p>
            <label>
                <input type="checkbox" id="dontShowAgain"> 다시 보지 않기
            </label>
            <br>
            <button onclick="closePopup()">닫기</button>
        </div>
    </div>

    <!-- JS 파일 연결 (body 하단에 배치 추천) -->
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>