<!DOCTYPE html>
<html>
<head>
    <title>{{ product.name }} - 상품 정보</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/product_style.css') }}">

</head>
<body>
    <!-- 상단 검색창 -->
    <div class="search-container">
        <div class="search-inner">
            <!-- 로고: 왼쪽에 완전히 붙게 -->
            <div class="logo-wrapper">
                <a href="/">
                    <img src="{{ url_for('static', filename='logo/logo2.png') }}" alt="홈으로" class="logo2">
                </a>
            </div>

            <!-- 검색창: 화면 중앙 -->
            <form action="/search" method="get" class="search-form">
                <input type="text" name="query" placeholder="상품을 검색하세요..." />
            </form>
        </div>
    </div>

    <h1>{{ product.name }}</h1>

 <!-- 상품 이미지와 정보 -->
<div class="product-details">
    <!-- 이미지 -->
    <div class="image-container">
        
        <a href="https://www.musinsa.com/products/{{ product.상품번호 }}" target="_blank">
            <img src="{{ product.src }}" alt="상품 이미지" />
        </a>
    </div>

    <!-- 상품 정보 -->
    <div class="info-container">
        <p><strong>상품 번호:</strong> {{ product.상품번호 }}</p>
        <p><strong>상품명:</strong> {{ product.상품명 }}</p>
        <p><strong>가격:</strong> {{ product.가격 }}</p>
        <p><strong>할인율:</strong> {{ product.할인율 | default('0%', true) }}</p>
        <p>
            <strong>URL:</strong>
            <a href="https://www.musinsa.com/products/{{ product.상품번호 }}" target="_blank">
                https://www.musinsa.com/products/{{ product.상품번호 }}
            </a>
        </p>
    </div>
</div>

<div class="chart-details">
    <!-- Char Container -->
    <div class="chart-container">
        <canvas id="scoreChart"></canvas>
    </div>

    <!-- 외부 JS 파일 연결 -->
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <!-- char js -->
    <script src="{{ url_for('static', filename='js/chart.js') }}"></script>
</body>
</html>
